<!-- views/index.hbs -->
<!DOCTYPE html>
<html>
<head>
  <title>Movies Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
  <div class="container-index">
    <div class="group">
   <h1>Cinema<br /> Root Learn</h1>
    <a href="/movies" class="btn-index">CHECK MOVIES</a>
    </div>
 
  </div>
</body>
</html>
